# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# auto save
auto-save-list

# elpa
elpa

# recentf
recentf

# places
places

# projectile
projectile
projectile-*
projectile-bookmarks.eld

# bookmark
bookmarks

# git
magithub